@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=DM+Sans:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Lora", serif;
  --font-sans: "DM Sans", sans-serif;
  --color-navy: #0B111E;
  --color-navy2: #121A2B;
  --color-gold: #C2A679;
  --color-gold-lt: #DBC4A1;
  --color-cream: #E2DBD0;
  --color-cream2: #C1B9AE;
  --color-slate: #7B8A9D;
  --color-white: #ECE8E0;
}

body {
  background-color: var(--color-navy);
  color: var(--color-cream);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-serif {
  font-family: var(--font-serif);
}

.font-sans {
  font-family: var(--font-sans);
}

